body{
	margin: 0;
	padding: 0;
	background: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f1c40f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;

}

/* Container! */
.container{
	position: absolute;
	left: 48%;
	top: 15%;
	transform: translate(-50%, -50%);
	padding: 10px;
}
.dark-mode {
  background-color: black;
  color: white;
}

input[type=text] 
{
	top: 20%;
	left:50%;
	  width: 130px;
	  box-sizing: border-box;
	  border: 2px solid #ccc;
	  border-radius: 40px;
	  font-size: 16px;
	  background-color: white;
	  background-image: url('searchicon.png');
	 
	  background-repeat: no-repeat;
	  padding: 12px 20px 12px 40px;
	  -webkit-transition: width 0.4s ease-in-out;
	  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}
para-1
{
	top: 40%;
	left: 50%;
}
